//- panels have editor toggles
mixin panel(panel)
  - const semantic = panel.semantic || 'div';
  - const editor = panel.editor || panel.name;
  #{semantic}.panel(class=panel.name)&attributes(attributes)
    input.editor__controller(name=`attr_${panel.name}_editor`, type='hidden', value='0')
    input.minimizer__controller(name=`attr_${panel.name}_minimizer`, type='hidden', value='0')
    .panel__wrapper
      block
      .panel__header(class=`${panel.name}__header`)
        +block("header", true)
          if (panel.title)
            h2.panel__title(data-i18n=panel.name, class=`${panel.name}__title`)= panel.title
        unless panel.static
          +minitoggle(panel.name)
        +edittoggle(panel.name)
      .panel__content(class=`${panel.name}__content`)
        +block("content", true)

mixin blob(blob)
  - const semantic = blob.semantic || 'div';
  - const hasEditor = blob.editor;
  - const hasMinimizer = blob.minimizer;
  - const editorClass = blob.editor ? 'blob--editor' : null;
  #{semantic}.blob(class=blob.name)&attributes(attributes)
    input.editor__controller(name=`attr_${blob.name}_editor`, type='hidden', value='0')
    input.minimizer__controller(name=`attr_${blob.name}_minimizer`, type='hidden', value='0')
    .blob__wrapper(class=editorClass)
      block
      if (blob.title)
        .blob__header(class=`${blob.name}__header`)
          h2.blob__title(data-i18n=blob.name, class=`${blob.name}__title`)= blob.title
          if hasEditor
            +edittoggle(blob.name)
          if hasMinimizer
            +minitoggle(blob.name)
      .blob__content(class=`${blob.name}__content`)
        +block("content", true)
