- const advSkills = data.advskills;
+panel({ name: 'advskills', title: 'Advanced Skills & Spells' })
  +block('header')
    h2.panel__title.advskills__title(data-i18n='advskills')
      | Advanced Skills & Spells
    each field in advSkills.header
      .advskills__field(class=`advskills__field--${field.name}`)
        label.advskills__label(data-i18n=field.name)= field.label
        +field(field).advskills__input
  +block('content')
    .row.advskill__table-headers
      each field in advSkills.fields
        .row__header(class=`advskills__header--${field.name} col-${field.span}`)
          span.row__header--label(data-i18n=field.name)= field.label

    +repeating('advskills')
      +block('edit')
        .row.advskills__edit
          .col-6.action__group.advskill__actions
            each action in advSkills.actions
              unless action.type !== 'action'
                +action(action)
              else
                +field(action).advskills__success-roll-toggle
          .col-6.advskills__actions--success
            each action in advSkills.skillSuccess
              unless action.type !== 'action'
                +action(action).action-pill
              else
                +field(action).advskills__success-roll-toggle

          each field in advSkills.fields
            .advskills__field(class=`advskills__field--${field.name} col-${field.span}`)
              //- label.advskills__label(data-i18n=field.name)= field.label
              +field(field)

      +block('view')
        .row.advskills__view
          .col-6.action__group.advskill__actions
            each action in advSkills.actions
              unless action.type !== 'action'
                +action(action)
              else
                +field(action).advskills__success-roll-toggle
          .col-6.advskills__actions--success
            each action in advSkills.skillSuccess
              unless action.type !== 'action'
                +action(action).action-pill
              else
                +field(action).advskills__success-roll-toggle

          each field in advSkills.fields
            .advskills__field(class=`advskills__field--${field.name} col-${field.span}`)
              unless field.name === 'skill_success'
                +span(field)
              else
                +field(field)
