+blob({ name: 'stats', semantic: 'aside', editor: true })
  +block('content')
    +editorblock('stats')
      +block('edit')
        .stats__wrapper
          each fieldset, stat in data.stats.fieldsets
            .stats__field(class=`stats__field--${stat}`)
              each field in fieldset
                unless field.type === 'hidden'
                  .stat(class=`stat__${field.name}`)
                    label.stat__label(data-i18n=field.name)= field.label
                    +field(field).stat__input
                else
                  +field(field)
      +block('view')
        .stats__wrapper.stat__view
          each fieldset, stat in data.stats.fieldsets
            .stats__field(class=`stats__field--${stat}`)
              if stat === 'armor'
                - const [armor, mod] = fieldset;
                //- .stat(class=`stat__${armor.name}`)
                  label.stat__label(data-i18n=armor.name)= armor.label
                  +span(mod).stat__armor--armor_damage_mod
                  +span(armor).hide-sm
              else
                - const [current, max] = fieldset;
                .stat(class=`stat__${current.name}`)
                  label.stat__label(data-i18n=current.name)= current.label
                  +numcontrol(current)
                  if max
                    .hide-sm(class=`stat__${max.name}`)
                      +span(max)
                      label(data-i18n=max.name)= max.label

  //- each fieldset in data.stats.fieldsets
    .stats__stat
      each field in fieldset
        .stat(class=`stat__${field.name}`)
          label(data-i18n=field.name)= field.label
          +field(field).stat__input
